pycaret==1.0.0
Flask==1.1.1
Jinja2==2.10.1
gunicorn==19.9.0
certifi==2019.11.28
itsdangerous==1.1.0
pandas==1.4.3
azureml-defaults
joblib==0.17.0
scikit-learn==1.1.2
matplotlib == 3.5.2
numpy == 1.23.1
seaborn == 0.11.2